$mdc-theme-primary: #2962ff;
$mdc-theme-on-primary: #ffffff;

@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";
@import "@material/image-list/mdc-image-list";
@import "@material/typography/mdc-typography";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

body {
  display: flex;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.mdc-list-item__sub {
  padding-left: 30px !important;
}

.mdc-menu {
  left: -65px !important;
  margin-top: 60px !important;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.my-card {
  height: 350px;
  width: 350px;
}

.logo-img {
  width: 60px;
}
