$mdc-theme-primary: #2962ff;
$mdc-theme-on-primary: #ffffff;

@import "./libs/normalize.css";
@import "./libs/materialicons.css";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";
@import "@material/image-list/mdc-image-list";
@import "@material/typography/mdc-typography";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/button/mdc-button";

body {
  display: flex;
  height: 100vh;
}

.flex {
  display: flex;
}

.hide {
  visibility: hidden;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.portrait {
  width: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 10px;
}

.mdc-drawer__header {
  display: flex;
  flex-direction: column;
  img,
  a,
  p {
    align-self: center;
  }
  a {
    text-decoration: underline;
    margin: 10px 0;
  }
}

.mdc-list-item__sub {
  padding-left: 30px !important;
}

.mdc-menu {
  left: -65px !important;
  margin-top: 60px !important;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.logo {
  width: 40px;
  height: 40px;
  padding: 0px;
  margin-left: 20px;
}

.main-content {
  section {
    justify-content: center;
    height: 100%;
    .section-1,
    .section-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50vw;
      .intro,
      .visual,
      .resume {
        align-self: center;
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100vw;
      div {
        text-align: center;
        align-self: center;
      }
      .social-icons {
        display: flex;
        width: 50%;
        a {
          flex-grow: 1;
        }
        .qr:hover .wechat-qr {
          width: 430px;
          display: block;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          animation: fadein 1s;
        }
        .wechat-qr {
          display: none;
        }
      }
      .email {
        font-size: 96px;
        color: #0039cb;
      }
      animation: fadein 2s;
    }
  }
  .reverse {
    flex-direction: row-reverse;
    animation: fadein 2s;
  }
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

// Projects Page
.main-content {
  section.projects {
    flex-direction: row;
    .section-1,
    .section-2 {
      .btns {
        position: absolute;
        height: 60vh;
        align-self: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        button {
          margin: 20px 0px;
        }
      }
      .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        align-self: center;
        height: 50%;
        width: 100%;
        .project {
          animation: fadein 1.5s;
          justify-self: center;
          align-self: center;
          width: 80%;
          .mdc-card {
            width: 100%;
            height: 100%;
            .mdc-card__actions {
              justify-content: space-around;
              h3 {
                text-align: center;
              }
            }
          }
        }
        .image-finder {
          background-image: url("/assets/Image-search.png");
        }
        .audio-freq {
          background-image: url("/assets/audio-freq.png");
        }
        .one-kicks {
          background-image: url("/assets/shoes.jpg");
        }
        .cp {
          background-image: url("/assets/cp.png");
        }
        .bc {
          background-image: url("/assets/bc.jpg");
        }
        .youtube {
          background-image: url("/assets/youtube.jpg");
        }
      }
    }
    .section-1 {
      width: 20vw;
    }
    .section-2 {
      width: 80vw;
      justify-content: flex-start;
      margin-top: 70px;
    }
  }
}

// Media Query
@media (max-width: 769px) {
  .main-content {
    display: flex;
    flex-direction: column;
    section {
      flex-direction: column;
      .section-1,
      .section-2 {
        text-align: center;
        align-items: center;
        flex-direction: row;
        width: 100vw;
      }
      .section-1 {
        height: 300px;
      }
      .contact {
        h3 {
          font-size: 2rem;
        }
        h4 {
          font-size: 1.8rem;
        }
        .social-icons {
          width: 100%;
          a {
            img {
              width: 64px;
            }
          }
          .qr:hover .wechat-qr {
            width: 215px;
          }
        }
        .email {
          font-size: 64px;
        }
      }
      .resume {
        text-align: start;
      }
    }
    .reverse {
      display: block;
      padding-top: 64px;
      .mdc-typography--headline4 {
        margin: 10px 0;
        text-align: center;
      }
      .mdc-typography--headline6 {
        margin: 0 20px;
      }
      .mdc-typography--body1 {
        margin: 10px 20px;
      }
      .section-2 {
        margin-top: -50px;
        canvas {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }

  // Projects Page
  .main-content {
    section.projects {
      .section-1,
      .section-2 {
        width: 100vw;
        .btns {
          height: 60vh;
          align-self: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          button {
            margin: 5px 0px;
          }
        }
        .lists {
          grid-template-columns: 1fr;
          height: 100%;
        }
      }
      .section-1 {
        display: none;
      }
      .section-2 {
        height: 100vh;
      }
    }
  }

  footer {
    position: absolute;
    margin-bottom: 0px;
  }
}

// Animation

.shake:hover {
  animation: shake 1.5s infinite;
}

.keepShaking {
  animation: leftRightShake 3s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes leftRightShake {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 0, 0);
  }
  40% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(8px, 0, 0);
  }
  60% {
    transform: translate3d(-8px, 0, 0);
  }
  70% {
    transform: translate3d(8px, 0, 0);
  }
  80% {
    transform: translate3d(-8px, 0, 0);
  }
  90% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
